@keyframes slideInLeft {
    from{
        transform: translateX(-100px);
    }

    to{
        transform: translateX(0);
    }
}
@keyframes slideInBottom {
    from{
        transform: translate(1,2)
    }

    to{
        transform: translateX(0);
    }
}
.slideInLeft{
    animation: slideInLeft 1s ease-in 0.6s 1 normal both;
}
.slideInBottom{
    animation: slideInLeft 1s ease-in 0.6s 1 normal both;
}
